= simple_form_for @portfolio_piece, html: { multipart: true } do |f|
  .input-prepend
    %span.add-on
      %i.fa.fa-tag
    = f.input_field :name, class: "span4", placeholder: "Name", id: "prependedInput", size: "16"
  .input-prepend
    %span.add-on
      %i.fa.fa-gears
    = f.input_field :primary_technology, class: "span4", placeholder: "Primary technology", id: "prependedInput", size: "16"
  .input-prepend
    %span.add-on
      %i.fa.fa-user-secret
    = f.input_field :client, class: "span4", placeholder: "Client", id: "prependedInput", size: "16"
  .input-prepend
    %span.add-on
      %i.fa.fa-globe
    = f.input_field :url, class: "span4", placeholder: "URL", id: "prependedInput", size: "16"
  = f.input_field :description, as: :text, class: "span6", placeholder: "description", rows: "10"
  .row
    .span2
      = f.submit 'Save', class: "btn btn-inverse"
