!!!
%html
  %head
    %title Freelance Portfolio
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag  'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %link{rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "https://fonts.googleapis.com/css?family=Oswald"}
    %link{rel: "stylesheet", type: "text/css", href: "https://fonts.googleapis.com/css?family=Dancing+Script"}
%body
  <!-- Color Bars (above header) -->
  .color-bar-1
  .color-bar-2.color-bg

  .container
    = render "layouts/header"
    = yield
